:root {
  /* font family */
  --ff-sans-serif-base: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  --ff-sans-serif-hdg: "Noto Sans JP", sans-serif;

  /* font size */
  --fz-s: 14px;
  --fz-m: 18px;
  --fz-l: 20px;
  --fz-2l: 23px;
  --fz-3l: 26px;
  --fz-4l: 32px;

  /* heading font size */
  --fz-hdg-lev2: var(--fz-3l);
  --fz-hdg-lev3: var(--fz-2l);
  --fz-hdg-lev4: var(--fz-l);
  --fz-hdg-lev-low: var(--fz-m);

  /* section indent */
  --indent-lev2: var(--fz-hdg-lev2);
  --indent-lev3: var(--fz-hdg-lev3);
  --indent-lev4: var(--fz-hdg-lev4);
}
